@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    overflow-x: hidden;
}

@media (min-width: 30rem) {
    :root {
        font-size: calc(1rem + ((1vw - 0.3rem) * 0.5556));
    }
}

@media (min-width: 120rem) {
    :root {
        font-size: 1.5rem;
    }
}


.menu a{
    color: #000;
}

.menu a:visited {
    color: #000;
}

.menu a:hover {
    color: #000;
}

h1 {
    font-weight: 800;
    color: black;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}


.header {
    background-color: #fddff8;
    padding-bottom: 3.5rem;
}

.logo {
    min-width: 200px;
    display: flex;
}

.menu {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.button {
    color: #FFFFFF;
    background-color: #5e17eb;
    border-radius: 17px;
    min-height: 4rem;
    max-width: max-content;
    margin-top: -2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.fs-7 {
    font-size: 0.8rem;
}

.fs-8 {
    font-size: 0.9rem;
}

.button1 {
    color: #FFFFFF;
    background-color: #5e17eb;
    border-radius: 17px;
    min-height: 4rem;
    max-width: max-content;
    margin-left: auto;
    margin-bottom: -2rem;
    margin-right: auto;
    padding: 1.1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.plan {
    width: 90%;
    font-size: 1.1rem;
    border: 13px none #FDDFF8;
    background-color: #FDDFF8;
    height: 100%;
    margin-left: 5%;
}

.price {
    font-size: 1.25rem;
}

.cards {
    font-size: 1.1rem;
    border: 13px none #FDDFF8;
    border-radius: 17px;
    background-color: #FDDFF8;
    height: 100%;
    width: 100%;
}

.card-header button {
    text-decoration: none;
    color: black;
}

.card-header button:hover {
    color: black;
}

.cardImg {
    width: 8vh;
    margin-left: auto;
    margin-right: auto;
}

.cardLine {
    border: solid 1px black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.graphics {
    width: 45vh;
}

@media screen and (max-width: 768px) {
    .graphics {
        width: 30vh;
    }
}

.review {
    border: 13px none #FDDFF8;
    border-radius: 17px;
    background-color: #FDDFF8;
    margin-top: 5rem;
    padding: 4vh;
    position: relative;
    min-height: 450px;
}

.reviewImage {
    width: 20vh;
    display: flex;
    position: absolute;
    margin-left: -20%;
    margin-top: -20%;
}

.circleImage {
    width: 20vh;
    display: flex;
    position: absolute;
    margin-top: -10%;
}

.howItWork p{
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
}

.howItWorkB p{
    line-height: 2;
    display: inline-block;
    vertical-align: bottom;
}

.howItImage {
    width: 18vh;
}

.whatCan {
    background-color: #FDDFF8;
}

.money {
    background-color: #FDDFF8;
    border-radius: 17px;
}

.icons {
    width: 7vh;
}

.iconsDescr {
    font-weight: bold;
    font-size: 0.6rem;
}

.miniIconL {
    width: 20vh;
    float: left;
    position: absolute;
    margin-left: -10%;
    margin-top: -1%;
}

.miniIconR {
    width: 20vh;
    float: right;
    position: absolute;
    margin-right: -10%;
    margin-top: -1%;
}

.miniDesc {
    background-color: #FFFFFF;
    border-radius: 22px;
}

.plans {
    background-color: #FDDFF8;
    border-radius: 20px;
    padding: 2rem;
}

.plansHeads {
    height: 2rem;
    margin: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
}

.fontWe {
    font-weight: 400;
}

.crossedText {
    text-decoration: line-through;
}

.plansLine {
    border: solid 1px black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.pl {
    padding-left: 2.5rem;
}

@media screen and (max-width: 992px) {
    .pl {
        padding-left: 1rem;
    }
}

.plansButton {
    color: #FFFFFF;
    background-color: #5e17eb;
    border-radius: 17px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6rem;
    font-size: 0.6rem;
    font-weight: bold;
}

.materials {
    background-color: #FDDFF8;
}

.tile {
    border-radius: 35px;
    background-color: #FFFFFF;
    margin-bottom: 3rem;
    padding: 1.5rem;
}

.tileH {
    height: 10rem;
}

.button2 {
    color: #FFFFFF;
    background-color: #5e17eb;
    border-radius: 17px;
    min-height: 6rem;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.button3 {
    color: #FFFFFF;
    background-color: #5e17eb;
    border-radius: 17px;
    min-width: 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.mentImage {
    display: flex;
    position: absolute;
    width: 20rem;
    bottom: 0;
    overflow-y: visible;
}

@media screen and (max-width: 992px) {
    .mentImage {
        position: relative;
        width: 60%;
        bottom: 0;
        overflow-y: visible;
        margin-left: auto;
        margin-right: auto;
    }
}

.minBox {
    background-color: #FDDFF8;
    border-radius: 20px;
    font-weight: bold;
}

.circle {
    height: 20px;
}

.lastArticle1 {
    background-color: #FDDFF8;
    border-radius: 10px;
    padding: 5vh;
}

.quesImg {
    width: 30vh;
}

.lastArticle {
    background-color: #FDDFF8;
}

.footerLogo {
    height: 3vh;
}

.redBox {
    background-color: #ff0000;
    color: #FFFFFF;
    width: 30%;
    float: right;
    font-size: 0.50rem;
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .button {
        font-size: 1.2em;
        padding-top: 0.8rem;
    }

    .button i {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .price {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .cards {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .howItImage {
        width: 12vh;
    }
}

@media (max-width: 992px) {
    .miniIconL {
        width: 15vh;
        float: none;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .miniIconR {
        width: 15vh;
        float: none;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

@media (max-width: 768px) {
    .plansHeads {
        height: 4rem;
    }
}

@media (min-width: 900px) {
    .position-md-absolute {
        position: absolute;
    }
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: lightpink;
    color: black;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    transition: 400ms;
    padding: 1rem;
    font-size: 14px;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: black;
}

.cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 8px 40px;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}